JointCommissionEnterprise-no-vanilla.sln
[Oo]bj/
src/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
Deploy/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/System/*
!lib/System/readme.MD
!lib/Sitecore.Common/*
!lib/Sitecore.Support/*
!lib/Sitecore.XA/*
!lib/Sitecore.EXM/*
!lib/Coveo/*
!lib/S4S/*
!vendor/*
!vendor/sitecore_modules/**
!vendor/sitecore_patches/**
!scripts/Unicorn/MicroCHAP.dll
!src/Foundation/Installer/code/App_Data/**
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
optimized-min.yml
/src/feature/IdevProductImport/IdevProductImport
$tf/
/reference/References.txt
/src/feature/ContentImport/code/FixSummaries.aspx.designer.cs
/src/feature/ContentImport/code/FixSummaries.aspx.cs
/src/feature/ContentImport/code/FixSummaries.aspx
/src/Project/Common/code/CreateCountries.aspx.designer.cs
/src/Project/Common/code/CreateCountries.aspx.cs
/src/Project/Common/code/CreateCountries.aspx