<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <!-- 
                Normally the page requires developer or admin authenticated access.
                Optionally, use browser dev tools to add a cookie with the below name and value. You will be granted access if they match.
                This is helpful for CD environments where Sitecore login is not available.
                    Default: (blank)
                If either are blank, then only Sitecore login is checked.
                Note: Lens.aspx can be moved anywhere such as the website root folder.
            -->
            <setting name="ItemLens.SecurityPass.CookieName" value="ItemLensKey" />
            <setting name="ItemLens.SecurityPass.CookieValue" value="" />
            
            <!-- Set default database selections -->            
            <setting name="ItemLens.Default.DatabaseLeft" value="master" />
            <setting name="ItemLens.Default.DatabaseRight" value="web" />
            
            <!-- Toggle Solr features on/off 
                    Default: true
            -->
            <setting name="ItemLens.IsUsingSolr" value="true" />
            
            <!-- Set default index selections -->
            <setting name="ItemLens.Default.SolrIndexLeft1" value="sitecore_master_index" />
            <setting name="ItemLens.Default.SolrIndexLeft2" value="" />
            <setting name="ItemLens.Default.SolrIndexRight1" value="sitecore_web_index" />
            <setting name="ItemLens.Default.SolrIndexRight2" value="" />
        </settings>
    </sitecore>
</configuration>